body{
    font-family: 'Comfortaa', cursive;
}

h1{
    font-family: 'Comfortaa', cursive;
}

h2{
    font-family: 'Comfortaa', cursive;
}

h3{
    font-family: 'Comfortaa', cursive;
}

#map{
    width: 100%;
    height: 45vh;
    background-color: grey;
}
