body{
    font-family: 'Comfortaa', cursive;
    overflow-y: hidden;
}

h1{
    font-family: 'Comfortaa', cursive;
}

h2{
    font-family: 'Comfortaa', cursive;
}

h3{
    font-family: 'Comfortaa', cursive;
}


/*font-family: 'Raleway', sans-serif;